@font-face {
  font-family: "FiraCode Nerd Font";
  src: url("/fonts/FiraCodeNerdFont-Bold.ttf") format("truetype"),
    url("/fonts/FiraCodeNerdFont-Light.ttf") format("truetype"),
    url("/fonts/FiraCodeNerdFont-Medium.ttf") format("truetype"),
    url("/fonts/FiraCodeNerdFont-Regular.ttf") format("truetype"),
    url("/fonts/FiraCodeNerdFont-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "FiraCodeNerdFont", monospace;
  font-size: large;
  margin: 0;
  padding: 0;
}

/* scrollbar handling */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #888;
}

::-webkit-scrollbar-thumb {
  background: #3d3c3c;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.scroller {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #3d3c3c #888;
}
